body{
    background-color: rgb(147, 44, 44)
   
}

 /*Primera seccion*/
h1{
    background-color: rgb(216, 225, 240);
    margin-top: 0%;
    margin-left: 0%;
    
}
 /* fin de la cabecera*/

.Seleccion{
    background-color: white;
    justify-content: center;
    text-decoration: none;
}